Arduino Code/NodeRedBackup/NodeRedBackup250420.json
[{"id":"89b0686c.3aa348","type":"tab","label":"FRA MCU Til Nodered","disabled":false,"info":""},{"id":"37c7ea9c.7fb766","type":"tab","label":"Email og Signup","disabled":false,"info":""},{"id":"28fbec71.7e3ec4","type":"tab","label":"Log-in","disabled":false,"info":""},{"id":"16c7c2d2.675f3d","type":"tab","label":"RFIDLOCK","disabled":false,"info":""},{"id":"8bd57308.556a","type":"tab","label":"Remember","disabled":false,"info":""},{"id":"6c50dec4.fa487","type":"mqtt-broker","z":"","name":"","broker":"hairdresser.cloudmqtt.com","port":"15721","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b69d6316.78368","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5ed0f756.d3aaa8","type":"ui_tab","z":"","name":"Menu","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3fd405e.aad64fa","type":"ui_group","z":"","name":"Signup","tab":"5ed0f756.d3aaa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5eb542d0.605e8c","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"6b07da39.2629ec","type":"ui_group","z":"","name":"Login","tab":"5ed0f756.d3aaa8","disp":true,"width":"6","collapse":false},{"id":"61988cc4.006e14","type":"ui_group","z":"","name":"RFIDLOCK","tab":"5ed0f756.d3aaa8","order":3,"disp":true,"width":"6","collapse":false},{"id":"b3655c7d.82cb5","type":"ui_group","z":"","name":"Remember","tab":"5ed0f756.d3aaa8","order":4,"disp":true,"width":"6","collapse":false},{"id":"a78d2df2.d886c","type":"ui_text_input","z":"37c7ea9c.7fb766","name":"","label":"Indtast email:","tooltip":"","group":"3fd405e.aad64fa","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":370,"y":40,"wires":[["f3dc65f2.204938"]]},{"id":"4c4ea4ef.d5366c","type":"debug","z":"37c7ea9c.7fb766","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":160,"wires":[]},{"id":"5af89f16.6f12d","type":"e-mail","z":"37c7ea9c.7fb766","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"Email Node","x":550,"y":200,"wires":[]},{"id":"ccab89b4.6ec678","type":"function","z":"37c7ea9c.7fb766","name":"Email funktion","func":"email = global.get(\"email\");\nkode = global.get(\"kode\");\nnavn = global.get(\"navn\");\n\nmsg = {\n    payload: (\"Dit navn er: \") + navn + \"\\n\"+ \"Din kode er: \"+ kode ,\n    topic : \"Kode til DTU Lyngby skab 1\",\n    to : email\n};\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["4c4ea4ef.d5366c","5af89f16.6f12d"]]},{"id":"d9eed09.d934e3","type":"function","z":"37c7ea9c.7fb766","name":"Gem bruger info","func":"global.set(\"navn\",msg.payload.navn);\nglobal.set(\"kode\",msg.payload.kode);\n\nmsg.payload = {\"navn\":\"\",\"kode\":\"\"};\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":180,"wires":[["ccab89b4.6ec678","d1c7fd3d.1e93f","db87979e.cd0e1","a336b149.857558","510b1dd1.ee8ae4"]]},{"id":"d1c7fd3d.1e93f","type":"ui_form","z":"37c7ea9c.7fb766","name":"","label":"Sign Up","group":"3fd405e.aad64fa","order":2,"width":0,"height":0,"options":[{"label":"Vælg navn:","value":"navn","type":"text","required":true,"rows":null},{"label":"Vælg kode:","value":"kode","type":"password","required":true,"rows":null}],"formValue":{"navn":"","kode":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":120,"wires":[["d9eed09.d934e3","88014ea9.285fb"]]},{"id":"88014ea9.285fb","type":"debug","z":"37c7ea9c.7fb766","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":120,"wires":[]},{"id":"b4b39f7d.2a325","type":"inject","z":"37c7ea9c.7fb766","name":"","topic":"","payload":"email","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["a78d2df2.d886c"]]},{"id":"f3dc65f2.204938","type":"function","z":"37c7ea9c.7fb766","name":"Set email","func":"var email = msg.payload\nglobal.set(\"email\",email);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":40,"wires":[[]]},{"id":"71c1d6d1.63e768","type":"mqtt in","z":"89b0686c.3aa348","name":"Fra MCU","topic":"FromMCU","qos":"2","datatype":"auto","broker":"6c50dec4.fa487","x":180,"y":120,"wires":[["18183549.25029b","e8d0991.8d1d668"]]},{"id":"d2b6b571.9757e8","type":"mqtt out","z":"89b0686c.3aa348","name":"","topic":"ToMCU","qos":"","retain":"","broker":"6c50dec4.fa487","x":340,"y":60,"wires":[]},{"id":"e8d0991.8d1d668","type":"function","z":"89b0686c.3aa348","name":"aflæsning af knap","func":"var FMCU = msg.payload;\n//var RFID = global.get(\"RFIDLOCK\")\n\n\nif (FMCU === \"RFIDLOCK\") {\n    global.set(\"RFIDLOCK\",1);\n    msg.payload = \"Skabet er RFIDLOCK\";\n    global.set(\"Skab\",msg.payload);\n    return msg;\n}\nelse if (FMCU === \"RFIDOPEN\"){\n    global.set(\"RFIDLOCK\",0);\n    return msg;\n}\nelse if (global.get(\"RFIDLOCK\") === 0){\n    if (FMCU === \"DoorOpened\") {\n        msg.payload = \"Skabet er åbent\";\n        global.set(\"Skab\",msg.payload);\n        return msg;\n    }\n    else if(FMCU === \"DoorClosed\"){\n        msg.payload = \"Skabet er lukket\";\n        global.set(\"Skab\",msg.payload);\n        return msg;\n    }\n}\n\nglobal.set(\"FMCU\",FMCU);","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["cd71dbb7.fcec68","b17b0350.bd3b9","8bc0cf05.eea73"]]},{"id":"cd71dbb7.fcec68","type":"debug","z":"89b0686c.3aa348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":280,"wires":[]},{"id":"b17b0350.bd3b9","type":"ui_text","z":"89b0686c.3aa348","group":"3fd405e.aad64fa","order":3,"width":0,"height":0,"name":"","label":"Status skab åbent/lukket:","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":140,"wires":[]},{"id":"829063aa.9651d","type":"mqtt out","z":"89b0686c.3aa348","name":"","topic":"ToMCU","qos":"","retain":"","broker":"6c50dec4.fa487","x":620,"y":60,"wires":[]},{"id":"6e46f172.5c4a","type":"inject","z":"37c7ea9c.7fb766","name":"","topic":"","payload":"kode","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["d78ada33.dc2cb"]]},{"id":"c71c1010.b7307","type":"inject","z":"37c7ea9c.7fb766","name":"","topic":"","payload":"navn","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["d78ada33.dc2cb"]]},{"id":"d78ada33.dc2cb","type":"debug","z":"37c7ea9c.7fb766","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":500,"wires":[]},{"id":"84f4d023.ae0db","type":"function","z":"28fbec71.7e3ec4","name":"chekc pass and usern","func":"var gemtKode = global.get(\"kode\");\nvar gemtNavn = global.get(\"navn\");\n// initialise the counter to 0 if it doesn't exist already\nvar usern = msg.payload.navn;\nvar passw = msg.payload.kode;\n\nif (usern != gemtNavn){\n    msg.payload = \"Wrong username\";\n    global.set(\"StatusLock\", msg.payload)\n    return msg;\n}\nelse {\n    if (passw != gemtKode){\n        msg.payload = \"Wrong password\";\n        global.set(\"StatusLock\", msg.payload)\n    return msg;\n    }\n    else{\n        msg.payload = \"NODEREDLOGIN\"\n        global.set(\"StatusLock\", msg.payload)\n        global.set(\"SIGNUP\", 0);\n        return msg;\n    }\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":280,"y":60,"wires":[["537ee07a.e10eb8","5bc51b73.fe0194","c525f131.4a7348"]]},{"id":"2412d380.85cfac","type":"ui_form","z":"28fbec71.7e3ec4","name":"","label":"Login","group":"6b07da39.2629ec","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"navn","type":"text","required":true,"rows":null},{"label":"Password","value":"kode","type":"password","required":true,"rows":null}],"formValue":{"navn":"","kode":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":60,"wires":[["84f4d023.ae0db","eebfa360.68b558"]]},{"id":"537ee07a.e10eb8","type":"debug","z":"28fbec71.7e3ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":60,"wires":[]},{"id":"eebfa360.68b558","type":"debug","z":"28fbec71.7e3ec4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":120,"wires":[]},{"id":"8bc0cf05.eea73","type":"function","z":"89b0686c.3aa348","name":"UI- Switcher","func":"var msg1; var msg2; var msg3; var msg4; var input = msg.payload;\n\nif (global.get(\"SIGNUP\") === 1){\n    if(input === \"Skabet er åbent\" ){\n        msg1 = { payload:{\"group\":{\"show\":\"Menu_Remember\"}}};\n        msg2 = { payload:{\"group\":{\"hide\":\"Menu_Signup\"}}};\n        msg3 = { payload:{\"group\":{\"hide\":\"Menu_RFIDLOCK\"}}};\n        msg4 = { payload:{\"group\":{\"hide\":\"Menu_Login\"}}};\n    }\n    else if(input == \"Skabet er lukket\"){\n        msg1 = { payload:{\"group\":{\"hide\":\"Menu_Remember\"}}};\n        msg2 = { payload:{\"group\":{\"hide\":\"Menu_Signup\"}}};\n        msg3 = { payload:{\"group\":{\"hide\":\"Menu_RFIDLOCK\"}}};\n        msg4 = { payload:{\"group\":{\"show\":\"Menu_Login\"}}};\n        \n    }\n}\n\nelse if (input === \"Skabet er RFIDLOCK\"){\n    msg1 = { payload:{\"group\":{\"hide\":\"Menu_Remember\"}}};\n    msg2 = { payload:{\"group\":{\"show\":\"Menu_RFIDLOCK\"}}};\n    msg3 = { payload:{\"group\":{\"hide\":\"Menu_Signup\"}}};\n    msg4 = { payload:{\"group\":{\"hide\":\"Menu_Login\"}}};\n}\nelse if (input === \"RFIDOPEN\"){\n    msg1 = { payload:{\"group\":{\"hide\":\"Menu_Remember\"}}};\n    msg2 = { payload:{\"group\":{\"hide\":\"Menu_RFIDLOCK\"}}};\n    msg3 = { payload:{\"group\":{\"show\":\"Menu_Signup\"}}};\n    msg4 = { payload:{\"group\":{\"hide\":\"Menu_Login\"}}};\n}\n    return[msg1,msg2,msg3,msg4];","outputs":4,"noerr":0,"x":590,"y":200,"wires":[["362bd761.8fc53","2c902eaa.6179f2"],["362bd761.8fc53","2c902eaa.6179f2"],["362bd761.8fc53","2c902eaa.6179f2"],["2c902eaa.6179f2","362bd761.8fc53"]]},{"id":"362bd761.8fc53","type":"ui_ui_control","z":"89b0686c.3aa348","name":"","events":"all","x":860,"y":220,"wires":[[]]},{"id":"2c902eaa.6179f2","type":"debug","z":"89b0686c.3aa348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":180,"wires":[]},{"id":"bd389ecb.90c01","type":"function","z":"89b0686c.3aa348","name":"aflæsning af knap","func":"InputFraMCU=Number(msg.payload);\nglobal.set(\"InputFraMCU\",InputFraMCU);\n\nif (InputFraMCU === 1){\n    msg.payload = \"Skabet er i brug\";\n    return msg;\n}\nelse {\n    msg.payload = \"Skabet er fri\";\n    return msg;\n}","outputs":1,"noerr":0,"x":270,"y":440,"wires":[[]]},{"id":"c1551f38.db3ec","type":"inject","z":"28fbec71.7e3ec4","name":"","topic":"","payload":"StatusLock","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["434b1953.9fe408"]]},{"id":"434b1953.9fe408","type":"debug","z":"28fbec71.7e3ec4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":400,"wires":[]},{"id":"5bc51b73.fe0194","type":"mqtt out","z":"28fbec71.7e3ec4","name":"","topic":"ToMCU","qos":"","retain":"","broker":"6c50dec4.fa487","x":540,"y":100,"wires":[]},{"id":"18183549.25029b","type":"debug","z":"89b0686c.3aa348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":120,"wires":[]},{"id":"404678ed.2d0658","type":"inject","z":"89b0686c.3aa348","name":"","topic":"","payload":"DoorOpened","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":280,"wires":[["e8d0991.8d1d668"]]},{"id":"17517344.b5270d","type":"function","z":"16c7c2d2.675f3d","name":"aflæsning af knap","func":"var skab = global.get(Skab);\nmsg.payload = skab;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["b8f5f3a3.be0c4","3247e3aa.1a0e3c"]]},{"id":"b233b6da.a61a58","type":"inject","z":"16c7c2d2.675f3d","name":"","topic":"","payload":"Skab","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":280,"wires":[["3247e3aa.1a0e3c"]]},{"id":"3247e3aa.1a0e3c","type":"debug","z":"16c7c2d2.675f3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":260,"wires":[]},{"id":"972b0c96.b4e82","type":"inject","z":"89b0686c.3aa348","name":"","topic":"","payload":"Skab","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":380,"wires":[["d0e3305f.de905"]]},{"id":"d0e3305f.de905","type":"debug","z":"89b0686c.3aa348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":380,"wires":[]},{"id":"b8f5f3a3.be0c4","type":"ui_text","z":"16c7c2d2.675f3d","group":"61988cc4.006e14","order":1,"width":0,"height":0,"name":"","label":"Status skab åbent/lukket:","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":200,"wires":[]},{"id":"521bdf32.e064e","type":"inject","z":"28fbec71.7e3ec4","name":"","topic":"","payload":"Skab","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":580,"wires":[["a33ec3f1.56e74"]]},{"id":"a33ec3f1.56e74","type":"debug","z":"28fbec71.7e3ec4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":560,"wires":[]},{"id":"55d3b14a.97d6b","type":"function","z":"28fbec71.7e3ec4","name":"aflæsning af knap","func":"var skab = global.get(Skab);\nmsg.payload = skab;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":160,"y":500,"wires":[["4998cf7f.a1f47","a33ec3f1.56e74"]]},{"id":"4998cf7f.a1f47","type":"ui_text","z":"28fbec71.7e3ec4","group":"6b07da39.2629ec","order":2,"width":0,"height":0,"name":"","label":"Status skab åbent/lukket:","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":500,"wires":[]},{"id":"a336b149.857558","type":"function","z":"37c7ea9c.7fb766","name":"Hide Signup Show Login","func":"\nvar msg1; var msg2; var msg3; var msg4;\n    msg1 = { payload:{\"group\":{\"hide\":\"Menu_RFIDLOCK\"}}};\n    msg2 = { payload:{\"group\":{\"hide\":\"Menu_Signup\"}}};\n    msg3 = { payload:{\"group\":{\"show\":\"Menu_Login\"}}};\n    msg4 = { payload:{\"group\":{\"hide\":\"Menu_Remember\"}}};\n    global.set(\"SIGNUP\", 1);\nreturn[msg1,msg2,msg3,msg4];\n\n","outputs":4,"noerr":0,"x":450,"y":260,"wires":[["e6babd4d.5b0138","91333210.480918"],["e6babd4d.5b0138","91333210.480918"],["e6babd4d.5b0138","91333210.480918"],["e6babd4d.5b0138","91333210.480918"]]},{"id":"e6babd4d.5b0138","type":"ui_ui_control","z":"37c7ea9c.7fb766","name":"","events":"all","x":720,"y":260,"wires":[[]]},{"id":"5d73be35.29a4f","type":"ui_ui_control","z":"28fbec71.7e3ec4","name":"","events":"change","x":880,"y":240,"wires":[[]]},{"id":"c525f131.4a7348","type":"function","z":"28fbec71.7e3ec4","name":"Show Signup Hide Login","func":"var msg1; var msg2; var msg3; var msg4;var input = msg.payload;\nif(input === \"NODEREDLOGIN\"){\n    msg1 = { payload:{\"group\":{\"hide\":\"Menu_RFIDLOCK\"}}};\n    msg2 = { payload:{\"group\":{\"show\":\"Menu_Signup\"}}};\n    msg3 = { payload:{\"group\":{\"hide\":\"Menu_Login\"}}};\n    msg4 = { payload:{\"group\":{\"hide\":\"Menu_Remember\"}}};\n    global.set(\"SIGNUP\", 0);\n}\nelse \n{\n    msg1 = { payload:{\"group\":{\"hide\":\"Menu_RFIDLOCK\"}}};\n    msg2 = { payload:{\"group\":{\"hide\":\"Menu_Signup\"}}};\n    msg3 = { payload:{\"group\":{\"show\":\"Menu_Login\"}}};\n    msg4 = { payload:{\"group\":{\"hide\":\"Menu_Remember\"}}};\n}\nreturn[msg1,msg2,msg3,msg4];","outputs":4,"noerr":0,"x":650,"y":240,"wires":[["5d73be35.29a4f","7282752.989b10c"],["5d73be35.29a4f","7282752.989b10c"],["5d73be35.29a4f","7282752.989b10c"],["5d73be35.29a4f","7282752.989b10c"]]},{"id":"db87979e.cd0e1","type":"debug","z":"37c7ea9c.7fb766","name":"HideSignupShowLogin","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":320,"wires":[]},{"id":"91333210.480918","type":"debug","z":"37c7ea9c.7fb766","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":300,"wires":[]},{"id":"7282752.989b10c","type":"debug","z":"28fbec71.7e3ec4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":280,"wires":[]},{"id":"abe9dc7f.d3777","type":"debug","z":"28fbec71.7e3ec4","name":"Show Signup Hide Login","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":300,"wires":[]},{"id":"249d7656.97ea4a","type":"ui_text","z":"8bd57308.556a","group":"b3655c7d.82cb5","order":1,"width":0,"height":0,"name":"","label":"Status skab åbent/lukket:","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":200,"wires":[]},{"id":"71771581.26840c","type":"function","z":"8bd57308.556a","name":"aflæsning af knap","func":"var skab = global.get(Skab);\nmsg.payload = skab;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":190,"y":200,"wires":[["249d7656.97ea4a"]]},{"id":"510b1dd1.ee8ae4","type":"function","z":"37c7ea9c.7fb766","name":"NodeRedSIGNUP","func":"msg.payload = \"NODEREDSIGNUP\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["bcb096b6.4d843"]]},{"id":"bcb096b6.4d843","type":"mqtt out","z":"37c7ea9c.7fb766","name":"","topic":"ToMCU","qos":"","retain":"","broker":"6c50dec4.fa487","x":640,"y":380,"wires":[]},{"id":"a2fa719a.eda92","type":"inject","z":"89b0686c.3aa348","name":"","topic":"","payload":"RFIDOPEN","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["e8d0991.8d1d668"]]}]